
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #000000;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
    width: 80%;
}
.container.navbar {
    margin-top: 50px;
}

.chat-container {
    display: flex; /* Add flex display */
    flex-direction: column; /* Set flex direction to column */
    height: 500px; /* Set fixed height */
    width: 80%;
    background-color: #000000;
    color: #e6e6e6;
}

.messages {
    flex: 1;
    overflow-y: auto;
    padding: 20px; /* Move padding to .messages */
}

.message strong {
    color: #5b609b;
}
.tabs {
    width: 20%;
    flex: 1;
    height: 500px; /* Set fixed height */
    padding-top: 0px; /* Remove padding */
    padding-left: 10px; /* Add padding */
    background-color: #343a40;
    overflow: hidden; /* Add overflow */
}

.input-container {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 20px;
}

.input-field {
    flex: 1;
    margin-right: 5px;
}

.tab-content {
    width: 100%;
    height: 500px;
    background-color: #5b609b;
    color:#e6e6e6;
    overflow: auto;
    padding: 10px;
}

.nav-item {
    padding: 0px; /* Reduce padding */
}
.nav-tabs {
    border-bottom: 0px; /* Remove border */
} 

.nav-tabs 
.nav-link {
    border-radius: 0%;
    color: #5b609b;
    font-weight: bold;
}

.nav-tabs .nav-link.active {
    font-weight: bold;
    background-color: #5b609b;
    color: #e6e6e6;
    border-color: #5b609b;
    border-width: 2px;
    border-radius: 0%;
}
.nav-tabs .nav-link:hover {
    border-color: #5b609b;
    border-width: 2px;
}
.send-button {
    background-color: #5b609b;
    color: #e6e6e6;
    border: none;
    padding: 4px 8px;
    border-radius: 2px;
    cursor: pointer;
}

.send-button:hover {
    background-color: #464c8d;
    color: #e6e6e6;
}

#username {
    color: #ffffff;
    font-weight: bold;
    margin-right: 5px;
    margin-left: 0px;
}


/*Settings*/
/* Settings Popup */
.settings-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.settings-content {
    text-align: center;
}

.settings-content h2 {
    margin-bottom: 20px;
}

.settings-content label {
    display: block;
    margin-bottom: 10px;
}

.settings-content input[type="text"],
.settings-content input[type="color"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 20px;
}

.settings-content button {
    background-color: #5b609b;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-right: 10px;
}

.settings-content button:hover {
    background-color: #464c8d;
}
